<nav class="navbar navbar-expand-lg bg-body-tertiary shadow fw-bold">
	<div class="container-fluid">
		<img src="/loan-logo.jpg" alt="logo" style="height: 45px;width: 50px;">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse ms-3" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
				<li class="nav-item ">
					<a class="nav-link " href="/index">Daily Entry Form</a>
				</li>
				<li class="nav-item ms-2">
					<a class="nav-link" href="/reg">Register New</a>
				</li>
				<li class="nav-item dropdown ms-2">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Reports
					</a>
					<ul class="dropdown-menu ">
						<li><a class="dropdown-item" href="reports">Customers Report</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="detailReport">Customer Detailed Report</a></li>
					</ul>
				</li>
				<li class="nav-item ms-2">
					<a class="nav-link" href="/showclousure">Customer Clousure</a>
				</li>
				<li class="nav-item dropdown ms-2">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Support
					</a>
					<ul class="dropdown-menu ">
						<li><a class="dropdown-item" href="#">Chat with us</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="#">Our Address</a></li>
					</ul>
				</li>
			</ul>
			<div class="float-right">
				<a href="/logout" class="btn btn-outline-danger shadow">Logout</a>
			</div>
		</div>
	</div>
</nav>